version: '3.7'

services:
  redis:
    image: "redis:alpine"
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data

  app:
    container_name: portfolio-operations
    build:
        context: .
        dockerfile: Dockerfile.local
    stdin_open: true
    tty: true
    command: python manage.py runserver 0.0.0.0:8000 --insecure
    volumes:
      - .:/app
    ports:
      - 8000:8000
    env_file:
      - ./.env

  celery-worker:
    build:
      context: .
      dockerfile: Dockerfile.celery
    volumes:
       - .:/app
    command: celery --app=core worker --loglevel=INFO --concurrency=8 -Ofair
    env_file:
      - ./.env
    depends_on:
      - redis
      - app

  celery-beat:
    build:
      context: .
      dockerfile: Dockerfile.celery
    command: celery --app=core beat  --loglevel=DEBUG --max-interval=60
    volumes:
      - .:/app
    env_file:
      - ./.env
    depends_on:
      - redis
      - app

  flower:
    image: mher/flower:0.9.7
    command: ['flower', '--broker=redis://redis:6379/0', '--port=5555']
    ports:
      - "5555:5555"
    depends_on:
      - redis
      - app

volumes:
  redis_data:
